html, body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url(img/grey.png);
    background-size: 40px;
    
    /* background-blend-mode:multiply; */
   
    

  }


  /* main {

    
  } */
  p  {
    font-family: "Runish" ;
    
    color: #ffffff;
    /* color: white; */
    font-size: 40px;
    opacity: 100%;
    /* letter-spacing: 2pt; */
    /* line-height: 200%; */
  }


  /* #r {
    color: rgb(47, 4, 4);
  } */

  @font-face {
    font-family: 'Runish';
    src: URL('Franklin.ttf') format('truetype');
  }

 

  /* hover effects */

/* 
  #q:hover {
    color: rgb(118, 125, 59);
  }

  #w:hover {
    color: rgb(255,201,14);
  }

  #e:hover {
    color: rgb(135,15,10);
  }

#r:hover {
color:  rgb(176, 58, 3);
} */

/* img:hover {

html {
background-color: white;
  color: black;
}

  
} */


#title {
  font-size:115px;
  justify-content: center;
  /* margin-top: .25em;
  margin-bottom: .25em; */
  /* text-decoration: underline; */
  line-height: 118px;
  margin: 0%;
  margin-top: -21px;
  color: #000000;
  overflow:hidden;


}

#info {
  
  width: 100%;;
  height: auto;
  /* padding-left: 40px;
  padding-bottom: 40px; */


}



.break {
  height: 80px;
  width: auto;
}

.sub {font-size: 3em;
 /* text-decoration: underline ;  */
 line-height: 50%;
}

.case {
  font-size: 7em;
  margin-top: 0%;
  margin-bottom: 0%;
}

.text {
  font-size: 15px;
  line-height: 60px;
  
  margin-top: -40px;

  padding: 40px;
  /* padding-top: 0px; */
  /* JUSTIFY TEXT???????????????????????? */
}


/* #flex {
  display: flex;
  max-height: auto;
  max-width: 95%;
} */

/* div {

} */

#titleTape {
  background-color:#f6d451 ;
  padding: 40px;
  color: #000000;

}

#titleTape2 {
  background-color:#F37B20 ;
  padding: 40px;
  color: #000000;

}

#titleTape3 {
  background-color:#EE3937 ;
  padding: 40px;
  color: #000000;

}

a {
  color:#f6d451
}





#flexBox {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

      padding-left: 40px;
      padding-right: 40px;
  padding-bottom: 40px;
}



@media screen and (min-width: 1200px) {
  #info {
width:45%;
height: auto;
  }

  .text {
    font-size: 40px;
  }


}

a:hover {
  color:#EE3937
}

.headless {
  padding-top: 0px;
  margin:0px;
  margin-bottom: 40px;
  /* color: #000000; */
}

.broke {
  margin-bottom: 40px;
}